.SearchBar {
  padding: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  font-weight: 700;
}

input {
  font-family: inherit;
  padding: 6px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

input:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
